<ul class="playlist">
  {{#.}}
    <li class="playlist__song" data-js-song-src="{{src}}">
      <i class="material-icons playlist__icon">play_circle_filled</i>
      <span class="playlist__title">{{artist}} - {{title}}</span>
    </li>
  {{/.}}
</ul>
