<h2 class="aside-content__headline">Hörproben von Hans Atom</h2>
<ul class="playlist" data-js-playlist="[data-js-song]">
  {{#.}}
    <li class="playlist__song" data-js-song data-js-song-src="{{src}}">
      <i data-js-song-play class="icon icon--l playlist__icon playlist__icon--active">play_circle_filled</i>
      <i data-js-song-stop class="icon icon--l playlist__icon">stop</i>
      <span class="playlist__title">{{artist}} - {{title}}</span>
    </li>
  {{/.}}
</ul>
